.pi.icon-menu{
    font-size:1.5rem;
    width: 24px;
    height: 24px;
}
.icon-p{
    width: 50px;
    margin-right:10px;
}
.fondo-c{
    background-color: rgba(0,0,0,.1);
    border: solid rgba(0,0,0,.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.color-principal{
    background-color: #0c63e4;
}
.text-active{
    color: #0dcaf0 !important;
}
#busqueda_h .ui.inputtext{
    width: 400px;
}
.contenedor-btn{
    margin-top:20px;
}
#crear_Hotel_f ui.inputfield.ui-widget, #crear_Hotel_f .ui-selectonmenu.ui-widget{
    width: 400px;
}
.imagen_hotel{
    width: 100%;
}
.ui-dataview-content{
    background:none;
}
.imagen-hotel{
    width: 100%;
}
.ui-dataview .ui-dataview-content{
    width: 50%;

.product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

}